[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "1.1.0"
sqlalchemy = "2.0.40"
sqlalchemy-utils = "0.41.2"
psycopg2-binary = "2.9.10"
web3 = "7.10.0"
toml = "0.10.2"
xrpl-py = "4.3.1"
pydantic = "*"
dacite = "*"
typer = "*"

[scripts]
main = "python main.py"

[dev-packages]

[requires]
python_version = "3.13"
